.credit_card {
    margin-left: 5%;
    margin-right: 25%;
    display: flex;
    align-items: center;
    height: 400px;
    background-image: url('../images/template_credit_card.png');
    background-repeat: no-repeat;
    h1 {
        margin-left: 1%;
        padding-bottom: 2%;
    }
    .info {
        display: flex;
        top: 50%;
        width: 50%;
        margin-left: -25%;
        margin-top: 20%;
        .nom {
            margin-left: 15%;
            margin-top: -1%;
            margin-right: 10%;
        }
        .prenom {
            margin-left: -17.5%;
            margin-top: 10%;
        }
        .expiration {
            margin-left: 40%;
        }
    }
}

form {
    .form{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -10%;
        margin-left: 50%;
        div {
            margin-right: 50%;
            margin-top: 2%;
        }
        button {
            margin-right: 50%;
            margin-top: 2%;
        }
    }
}