body {
    height: 100%;
    width: 100%;
}

header {
    p {
        text-align: center;
        font-size: xx-large;
    }
}


.test {
    display: flex;
    .credit_card {
        display: flex;
        width: 78%;
        background: url(../images/template_credit_card.png);
        background-size: 100%;
        background-repeat: no-repeat;
        flex-direction: column;
        align-content: stretch;
        height: 405px;
        justify-content: space-between;
        .title {
            display: flex;
            padding-top: 7%;
            justify-content: center;
        }
        .cryptogramme {
            text-align: center;
        }
        .info {
            margin-left: 2%;
            .expiration {
                margin-left: 58%;
            }
        }
    }

    .flip {
        transform-origin: 29.5%;
        transform: rotate3d(0, 1, 0, 90deg);
        transition: 0.5s linear;
    }
    .flip_verso {
        transform-origin: 29.5%;
        transform: rotate3d(0, 1, 0, 0deg);
        transition: 0.5s linear;
    }
    .origin{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        width: 50%;
        form {
            div {
                margin-right: 50%;
                margin-top: 2%;
            }
            button {
                margin-right: 50%;
                margin-top: 2%;
            }
        }
    }
}